@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/* 초기화 */
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
html{
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}
li{
  list-style-type: none;
}
figure{
  text-align: center;
}

/* 헤더 */
.header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
}
/* 차후 모달창을 띄우기 위한 임시 설정 */
.menu-list, .btn-menu-close{
  display: none;
}

/* 버튼 속성 설정 */
.btn-menu-open{
  background-color: lightgray;
  background-image: url('/images/navigation-button.gif');
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.btn-beverageinfo-detail-close{
  background-image: url('/images/detail-close.gif');
  background-repeat: no-repeat;
  /* background-size: cover; */
}